<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider"> NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
			<property name="query.substitutions">hqlFunction=SQLFUNC</property>
			<property name="connection.driver_class"> NHibernate.Driver.MySqlDataDriver</property>
			<property name="connection.connection_string">
				Server=127.0.0.1;Database=PBD;Uid=root;Pwd=wray9nus; 
				Initial Catalog=PBD;
				Integrated Security=True
			</property>
			<property name="show_sql">true</property>
			<mapping assembly="PBD_KR2" />
		</session-factory>
	</hibernate-configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>